body {
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 20%;
}

.titulo {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.subtitulo {
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.btn-entrar {
  background-color: #ffd700;
  color: #111;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.btn-entrar:hover {
  transform: scale(1.1);
  background-color: #ffcc00;
}
